<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated wizards -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="wizards.presentation.WizardsModelWizardID"
            name="%_UI_WizardsModelWizard_label"
            class="wizards.presentation.WizardsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WizardsModelFile.gif">
         <description>%_UI_WizardsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated wizards -->
      <editor
            id="wizards.presentation.WizardsEditorID"
            name="%_UI_WizardsEditor_label"
            icon="icons/full/obj16/WizardsModelFile.gif"
            extensions="wizards"
            class="wizards.presentation.WizardsEditor"
            contributorClass="wizards.presentation.WizardsActionBarContributor">
      </editor>
   </extension>

</plugin>
